.header-top{
    background: #ddd;
}
.header-top ul li{
    list-style: none;
    float: left;
    margin-right: 5px;
}
.header-top a{
    line-height: 50px;
}
.logo_search{
    padding: 50px 0;
}
.navbar .container-fluid{
    background: #0e0ea8;
}
.navbar ul li:hover{
    background: #3976e4;
}
.navbar ul li a{
    color: #fff !important;
}